/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


// Layer Definitions

#define COLEMAK 0
#define NAV 1
#define MOUSE 2
#define NUM 3
#define SYM 4
#define MED 5
#define FUN 6
#define BUTTONS 5

// Behavior configuration

&mt {
    tapping-term-ms = <200>;
    quick_tap_ms = <0>;
    flavor = "tap-preferred";
};

&lt {
    tapping-term-ms = <200>;
    quick_tap_ms = <0>;
    flavor = "tap-preferred";
};

&sk {
    release-after-ms = <500>;
    quick-release;
};

// Keymap configuration (Colemak-DHm)

/ {
    keymap {
        compatible = "zmk,keymap";

        colemak_dh {
            // -----------------------------------------------------------------------------------------------------------------------------
            // |        |   Q    |   W    |     E     |     R     |     T     | # |     Y     |     U    |    I    |    O   |   P    |     |
            // | LAYERS | A/LGUI | S/LALT |  D/LCTRL  |  F/LSHFT  |     G     | # |     H     | J/LSHFT  | K/LCTRR | L/LALT | ;/LGUI |     |
            // |        |   Z    | X/RALT |     C     |     V     |     B     | # |     N     |     M    |    ,    | ./RALT |   /    |     |
            //                            | ESC/MEDIA | SPACE/NAV | TAB/MOUSE | # | ENTER/SYM | BSPC/NUM | DEL/FN  |

            bindings = <
&trans      &kp Q       &kp W       &kp F        &kp P        &kp B          &kp J        &kp L        &kp U        &kp Y       &kp SQT     &trans
&kp ESCAPE  &mt LGUI A  &mt LALT R  &mt LCTRL S  &mt LSHFT T  &kp G          &kp M        &mt LSHFT N  &mt LCTRL E  &mt LALT I  &mt LGUI O  &trans
&mo 7       &kp Z       &kp X       &kp C        &kp D        &kp V          &kp K        &kp H        &kp COMMA    &kp DOT     &kp FSLH    &trans
                                    &lt 5 ESC    &lt 1 TAB    &lt 2 SPACE    &lt 4 ENTER  &lt 3 BSPC   &lt 6 DEL
            >;
        };

        navigation {
            // -------------------------------------------------------------------------------------------
            // |     |      |      |       |       |     | # | REDO  | CUT  | COPY | PASTE | UNDO  |     |
            // |     | LGUI | LALT | LCTRL | LSHFT |     | # | CAPS  | LEFT | DOWN | UP    | RIGHT |     |
            // |     |      | RALT |       |       |     | # | INS   | HOME | PGDN | PGUP  | END   |     |
            //                     |       | HELD  |     | # | ENTER | BSPC | DEL  |

            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans    &kp K_REDO    &kp K_CUT  &kp K_COPY  &kp K_PASTE  &kp K_UNDO  &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &kp CAPSLOCK  &kp LEFT   &kp DOWN    &kp UP       &kp RIGHT   &trans
&trans  &trans    &trans    &trans     &trans     &trans    &kp INS       &kp HOME   &kp PG_DN   &kp PG_UP    &kp END     &trans
                            &trans     &trans     &trans    &kp ENTER     &kp BSPC   &kp DEL
            >;
        };

        mouse {
            // ------------------------------------------------------------------------------------
            // |     |      |      |       |       |      | # |     |     |     |     |     |     |
            // |     | LGUI | LALT | LCTRL | LSHFT |      | # |     |     |     |     |     |     |
            // |     |      | RALT |       |       |      | # |     |     |     |     |     |     |
            //                     |       |       | HELD | # |     |     |     |

            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans    &trans     &trans     &trans  &trans  &trans  &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &trans     &trans     &trans  &trans  &trans  &trans
&trans  &trans    &trans    &trans     &trans     &trans    &trans     &trans     &trans  &trans  &trans  &trans
                            &trans     &trans     &trans    &mkp RCLK  &mkp LCLK  &trans
            >;
        };

        numbers {
            // -----------------------------------------------------------------------------------
            // |     |  [  |  7  |  8  |  9  |  ]  | # |     |       |       |      |      |     |
            // |     |  ;  |  4  |  5  |  6  |  =  | # |     | LSHFT | LCTRL | LALT | LGUI |     |
            // |     |  `  |  1  |  2  |  3  |  \  | # |     |       |       | RALT |      |     |
            //                   |  .  |  0  |  -  | # |     | HELD  |       |

            bindings = <
&trans  &kp LBKT       &kp N7  &kp N8   &kp N9  &kp RBKT     &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp SEMICOLON  &kp N4  &kp N5   &kp N6  &kp EQUAL    &trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &trans
&trans  &kp GRAVE      &kp N1  &kp N2   &kp N3  &kp BSLH     &trans  &trans     &trans     &kp RALT  &trans    &trans
                               &kp DOT  &kp N0  &kp MINUS    &trans  &trans     &trans
            >;
        };

        symbols {
            // ------------------------------------------------------------------------------------
            // |     |  {  |  &  |  *  |  (  |  }  | # |      |       |       |      |      |     |
            // |     |  :  |  $  |  %  |  ^  |  +  | # |      | LSHFT | LCTRL | LALT | LGUI |     |
            // |     |  ~  |  !  |  @  |  #  |  |  | # |      |       |       | RALT |      |     |
            //                   |  (  |  )  |  _  | # | HELD |       |       |

            bindings = <
&trans      &kp STAR   &kp AMPS   &kp PERCENT     &kp LPAR           &kp RBRC          &trans  &trans     &trans     &trans    &trans    &trans
&kp DOLLAR  &kp EXCL   &kp EQUAL  &kp LEFT_BRACE  &kp DOUBLE_QUOTES  &kp PLUS          &trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &trans
&trans      &kp TILDE  &kp CARET  &kp AT          &kp HASH           &kp PIPE          &trans  &trans     &trans     &kp RALT  &trans    &trans
                                  &kp LPAR        &kp RPAR           &kp UNDERSCORE    &trans  &trans     &trans
            >;
        };

        media {
            // -----------------------------------------------------------------------------------------------------
            // |     |      |      |       |       |      | # | BOOTLOAD | EP_OFF | BR_D   | BR_U   | EP_ON  |     |
            // |     | LGUI | LALT | LCTRL | LSHFT |      | # | RESET    | PREV   | VOL_D  | VOL_U  | NEXT   |     |
            // |     |      | RALT |       |       |      | # | OUT_BLE  | BT_0   | BT_PRV | BT_NXT | BT_CLR |     |
            //                     | HELD  |       |      | # | STOP     | PLAY   | MUTE   |

            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans    &bootloader   &ext_power EP_OFF  &none         &none            &ext_power EP_ON  &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &sys_reset    &kp C_PREV         &kp C_VOL_DN  &kp C_VOLUME_UP  &kp C_NEXT        &trans
&trans  &trans    &kp RALT  &trans     &trans     &trans    &out OUT_BLE  &bt BT_SEL 0       &bt BT_PRV    &bt BT_NXT       &bt BT_CLR        &trans
                            &trans     &trans     &trans    &kp C_STOP    &kp C_PLAY         &kp K_MUTE
            >;
        };

        function {
            // ------------------------------------------------------------------------------------------
            // |     |  F12 |  F7  |  F8  |  F9   | PSCRN | # |     |       |       |      |      |     |
            // |     |  F11 |  F4  |  F5  |  F6   | SLCK  | # |     | LSHFT | LCTRL | LALT | LGUI |     |
            // |     |  F10 |  F1  |  F2  |  F3   | PAUSE | # |     |       |       | RALT |      |     |
            //                     | ESC  | SPACE |  TAB  | # |     |       | HELD  |

            bindings = <
&trans  &kp F12  &kp F7  &kp F8   &kp F9     &kp PSCRN          &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp F11  &kp F4  &kp F5   &kp F6     &kp SLCK           &trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &trans
&trans  &kp F10  &kp F1  &kp F2   &kp F3     &kp PAUSE_BREAK    &trans  &trans     &trans     &kp RALT  &trans    &trans
                         &kp ESC  &kp SPACE  &kp TAB            &trans  &trans     &trans
            >;
        };

        buttons {
            bindings = <
&trans  &kp K_UNDO  &kp K_CUT  &kp K_COPY  &kp K_PASTE  &kp K_REDO    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LGUI    &kp LALT   &kp LCTRL   &kp LSHFT    &trans        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp K_UNDO  &kp K_CUT  &kp K_COPY  &kp K_PASTE  &kp K_REDO    &trans  &trans  &trans  &trans  &trans  &trans
                               &kp ENTER   &mkp LCLK    &mkp RCLK     &trans  &trans  &trans
            >;
        };
    };
};
